extends layout

block content
  h2 My Profile
  br
  div
    p Hello, #{user.displayName}
  br
  table.table.table-striped
    thead
      tr
        th Claim
        th Value
    tbody
      for value, claim in user
        tr
          td #{claim}
          td #{value}
  form.navbar-form.navbar-right(method="post", action="/authenticate")
    button#authenticate-button.btn.btn-primary(type="submit") Perform Action here
